.btn__default {
    border-radius: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: #111111;
    padding: 6px 24px;
    @include media('sm') {
        padding: 6px 8px;
        font-size: 10px;
    }
}