.default__btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 10px 10px;
    background: #564FB1;
    border-radius: 4px;
    transition: 0.5s all;
    &.reset {
        background: #050405;
        color: #fff;
        margin-right: 10px;
    }
    &:hover {
        opacity: 0.8;
    }
} 