.home__section {
    margin-top: 100px;
    @include media-break-width(320, 767) {
        margin-top: 80px;
    }
    .filter__grid {
        display: grid;
        gap: 30px;
        grid-template-columns: 150px 1fr 150px;
        background: #F7F7F8;
        border-radius: 8px;
        padding: 15px;
        &.dark {
            background-color: $light-dark-bg;
            input {
                background: #202124 !important;
                border: 1px solid #323246 !important;
                color: $dark-text-color;
                &::placeholder {
                    color: $dark-text-color !important;
                }
            }
            .search__icon {
                filter: invert(43%) sepia(10%) saturate(786%) hue-rotate(166deg) brightness(98%) contrast(84%);
            }
            .left {
                h6 {
                    color: $white;
                }
            }
        }
        @include media-break-width(320, 767) {
            grid-template-columns: 1fr;
            gap: 15px;
        }
        .left {
            h6 {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #231F20;
            }
        }
        .form__section {
            .search__icon {
                position: absolute;
                top: 14px;
                left: 15px;
                cursor: pointer;
            }
            input {
                height: 48px;
                border: 1px solid #DBDBDB;
                border-radius: 4px;
                background-color: $white;
                padding-left: 50px;
                &::placeholder {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #231F20;
                    opacity: 0.5;
                }
            }
        }
    }
    .profile__grid {
        margin-top: 30px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        @include media-break-width(320, 767) {
            grid-template-columns: 1fr;
            gap: 15px;
            margin-top: 15px;
        }
        &.dark {
            .each {
                background: $light-dark-bg;
                transition: 0.5s all;
                &:hover {
                    border: 1px solid #637381;
                }
                .content {
                    h6 {
                        color: $white
                    }
                    p {
                        img {
                            filter: invert(43%) sepia(10%) saturate(786%) hue-rotate(166deg) brightness(98%) contrast(84%);
                        }
                        color: $dark-text-color;
                    }
                }
                .social__list {
                    li {
                        img {
                            filter: invert(50%) sepia(10%) saturate(786%) hue-rotate(166deg) brightness(98%) contrast(84%);
                        }
                    }
                }
                .bottom {
                    .each__sec {
                        p {
                            color: $dark-text-color;
                            span {
                                color: $dark-text-color;
                            }
                        }
                    }
                }
            }
        }
        .each {
            background: #F7F7F8;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            .img__wraper {
                padding: 30px 0 15px 0;
            }
            .content {
                h6 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    color: $light-text-color;
                    padding-bottom: 10px;
                }
                p {
                    img {
                        margin-right: 3px;
                    }
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 35px;
                    color: $light-text-color;
                }
            }
            .social__list {
                padding: 10px 0;
                li {
                    margin-right: 12px;
                }
            }
            .bottom {
                padding: 0 15px 0 15px;
                .each__sec {
                    border: 0.5px dashed #637381;
                    border-radius: 3px;
                    padding: 10px;
                    margin: 15px 15px 15px 0;
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: center;
                        color: #000;
                        span {
                            font-weight: 700;
                            color: #564FB1;
                        }
                    }
                }
            }
        }
    }
}
.filter__popover {
    background-color: $slight-light-bg;
    box-shadow: 0px 8px 80px -4px rgba(42, 44, 52, 0.25);
    border-radius: 8px;
    &.dark {
        background-color: $light-dark-bg;
        .popover-arrow {
            background-color: $light-dark-bg;
        }
        .filter__dropdown {
            .header {
                color: $white !important;
            }
            .filter__form {
                label {
                    color: $white !important;
                }
                select {
                    background-color: #050405;
                    border: none;
                }
            }
        }
    }
    .popover-body {
        width: 270px;
        padding: 0;
        .filter__dropdown {
            .header {
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                color: $light-text-color;
                padding: 20px 20px 20px 20px;
                border-bottom: 1px solid #2B2B3E;
            }
            .filter__form {
                padding: 15px 20px 20px 20px;
                label {
                    color: $light-text-color;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
                select {
                    height: 45px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 26px;
                    color: #919EAB;
                }
            }
        }
    }
}
