.footer__wraper {
    margin: 150px 0 0 0;
    background-color: $footer-light-bg;
    padding: 60px 0 30px 0;
    @include media-break-width(320, 767) {
        padding: 40px 0 20px 0;
    }
    &.dark {
        background-color: $light-dark-bg;
        .footer__menu {
            h6 {
                color: $white;
            }
        }
        .bottom__text {
            span {
                color: $dark-text-color !important;
            }
        }
    }
    .footer__logo--sec {
        p {
            padding: 20px 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #637381;
            @include media-break-width(320, 767) {
                padding: 15px 0;
            }
        }
        .social__link {
            li {
                margin-right: 15px;
                img {
                    transition: 0.5s all;
                    &:hover {
                        filter: invert(11%) sepia(58%) saturate(346%) hue-rotate(171deg) brightness(99%) contrast(89%);
                    }
                }
            }
        }
    }
    .footer__menu {
        margin-top: 50px;
        @include media-break-width(320, 767) {
            margin-top: 15px;
        }
        h6 {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: #231F20;
        }
        ul {
            padding-top: 10px;
            li {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #637381;
                margin-bottom: 5px;
                cursor: pointer;
                transition: 0.3s all;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .footer__bottom {
        margin-top: 30px;
        @include media-break-width(320, 767) {
            margin-top: 10px;
        }
        .bottom__text {
            font-size: 14px;
            line-height: 24px;
            color: #637381;
            font-weight: 400;
            span {
                font-weight: 700;
                color: #231F20;
            }
        }
        .bottom__list {
            li {
                margin-right: 25px;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #637381;
                cursor: pointer;
                transition: 0.3s all;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}