
.header__wraper {
	background-color: $slight-light-bg;
	box-shadow: 0 2px 2px rgba(214, 174, 174, 0.07);
	&.dark {
		background-color: $light-dark-bg;
		.middle__menu {
			a {
				color: $dark-text-color;
			}
		}
		.profile__text {
			color: $dark-text-color !important;
		}
		img.nofication {
			filter: invert(49%) sepia(18%) saturate(401%) hue-rotate(166deg) brightness(85%) contrast(89%);
		}
	}
	.mobile__menu--icon {
		ul {
			li:not(:last-child) { 
				margin-right: 12px;
				cursor: pointer;
			}
			button {
				background-color: transparent !important;
				color: #777;
				padding: 0;
				margin: 0;
			}
		}
		svg {
			font-size: 25px;
		}
	}
	.active {
		background: #202124;
		border-radius: 4px;
		font-weight: 600 !important;
		color: #FFFFFF !important;
		padding: 10px 15px !important;
		transition: 0.4s all;
		&:hover {
			opacity: 0.8;
		}
	}
	.middle__menu {
		a {
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: $light-text-color;
			margin-right: 15px;
		}
	}
	.right__sec {
		.profile__text {
			font-weight: 400;
			font-size: 12px;
			line-height: 14px;
			color: #424242;
			display: flex;
			align-items: center;
			padding-right: 8px;
		}
		button {
			background-color: transparent !important;
			color: #777;
			padding: 0;
			margin: 0;
		}
		svg {
			font-size: 30px;
		}
	}
	.navbar-collapse {
		@include media-break-width(320, 991) {
			display: none;
		}
	}
	.header__search {
		input {
			border-radius: 25px !important;
			background-color: #f0f2f5;
		}
		span {
			position: absolute;
			top: 5px;
			right: 10px;
		}
	}
}
.mobile__menu {
	ul {
		li {
			margin-bottom: 10px;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;
			color: #202124;
			&.active {
				border-radius: 4px;
				font-weight: 600 !important;
				color: #202124 !important;
				transition: 0.4s all;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
} 
.popover-body {
	width: 150px;
	.theme__toggle--dropdown {
		li {
			margin-bottom: 8px;
			div {
				cursor: pointer;
				p:first-child {
					padding-right: 8px;
				}
				.text {
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
					color: #637381;
					display: flex;
					align-items: center;
				}
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
