// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$dark-bg: #000;
$light-dark-bg: #17181B;
$slight-light-bg: #F7F7F7;
$light-bg: #FFF;
$footer-light-bg: #F9FAFB;